<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="mostrar_card()" *ngIf="categoriaTopino == 'p30' ">
        <ion-icon name="create"></ion-icon>      
      </ion-button>
    </ion-buttons>
    <ion-title>
      Meu Candidato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="exibir == true">
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>Editar informações</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label  position="floating">Descrição</ion-label>
        <ion-textarea maxlength=100 [(ngModel)]="texto_candidato" placeholder="Crie uma breve descrição de até 100 caractéres"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label  position="floating">Video Informativo</ion-label>
        <ion-input [(ngModel)]="video_candidato"></ion-input>
      </ion-item>
      <ion-button (click)="atualizar()" color="primary" expand="block">Salvar</ion-button>
      <ion-button (click)="mostrar_card()" color="danger" expand="block">Cancelar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Candidato</ion-card-subtitle>
      <ion-card-title>{{candidato}}</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
     
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="texto_candidato != '' ">
    <ion-card-header>
      <ion-card-subtitle>Descrição</ion-card-subtitle>
      <!-- <ion-card-title>{{candidato}}</ion-card-title> -->

    </ion-card-header>
  
    <ion-card-content>
     {{texto_candidato}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="video_candidato != '' ">
    <ion-card-header>
      <ion-card-subtitle>Video Informativo</ion-card-subtitle>
      <!-- <ion-card-title>{{candidato}}</ion-card-title> -->

    </ion-card-header>
  

    <ion-card-content>
      <div class="ion-text-center" *ngIf="video_candidato != null " >
        <iframe width="auto" height="auto" [src]="safeurl(video_candidato)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Fotos</ion-card-subtitle>
      <!-- <ion-card-title>{{candidato}}</ion-card-title> -->

    </ion-card-header>
    <ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let item of fotos" (click)="visualisar_foto(item.url)">
        <!-- <ion-img [src]="item.url" (click)="visualisar_foto(item.url)"></ion-img> -->
        <img src="{{item.url}}">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>

</ion-content>
