<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Minha Rede</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Candidato</ion-card-subtitle>
      <ion-card-title>{{candidato}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

  <ion-card color="success">
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Total de eleitores na sua cidade</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="ion-text-center">
        <ion-text>
      <h1>{{qtd_cidade}}</h1>
    </ion-text>
    </div>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Membros abaixo de você</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <div class="ion-text-center">
              <ion-text >
            <h1>{{qtd_abaixo}}</h1>
          </ion-text>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card color="tertiary" (click)="visualizar_rede();">
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Membros na sua rede</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <div class="ion-text-center">
              <ion-text >
            <h1>{{qtd_membros}}</h1>
          </ion-text>
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-card *ngIf="c30.length > 0">
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Membros C30</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let c30 of c30">
        <ion-label>{{c30}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
  
</ion-content>
