<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Meus Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card class="welcome-card">
  
    <ion-card-header>
      <ion-card-title>Dados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>{{nome}}</b></p>
      <p><b>{{categoriaNome}}</b></p>
      <p><b>{{cpf}}</b></p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="update_dados">
    <ion-item>
      <ion-label position="floating">Nome*</ion-label>
      <ion-input type="text" [(ngModel)]="nome" ></ion-input>
    </ion-item>
  <form [formGroup]="formulario">
    <ion-item>
      <ion-label position="floating">Telefone*</ion-label>
      <!--<ion-input type="text" [(ngModel)]="telefone" ></ion-input>-->
      <ion-input type="text" name="telefone" formControlName="telefone" [(ngModel)]="telefone" [brmasker]="{phone: true}"></ion-input>
    </ion-item>
  </form>
    <ion-item>
      <ion-label position="floating">E-mail*</ion-label>
      <ion-input type="text" [(ngModel)]="email" ></ion-input>
    </ion-item>
  
    
  
    <ion-item>
      <ion-label position="floating">Data de Nascimento*</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" doneText="OK" cancelText="Cancelar" [(ngModel)]="data_nascimento" ></ion-datetime>
    </ion-item>
  
  
    <ion-item>
      <ion-label>Genero*</ion-label>
      <ion-select [(ngModel)]="genero" >
        <ion-select-option value="masculino">Masculino</ion-select-option>
        <ion-select-option value="feminino">Feminino</ion-select-option>
      </ion-select>
    </ion-item>
  
    <!-- <ion-item>
      <ion-label>Candidato/Eleitor*</ion-label>
      <ion-select [(ngModel)]="tipo" >
        <ion-select-option value="p30">Candidato</ion-select-option>
        <ion-select-option value="eleitor">Eleitor</ion-select-option>
      </ion-select>
    </ion-item> -->
    
    <ion-item>
      <ion-label>Estado*</ion-label>
      <ion-select [(ngModel)]="estado" cancelText="Cancelar" (ionChange)="change_estado($event, false)" >
        <ion-select-option value="AC">Acre</ion-select-option>
        <ion-select-option value="AL">Alagoas</ion-select-option>
        <ion-select-option value="AP">Amapá</ion-select-option>
        <ion-select-option value="AM">Amazonas</ion-select-option>
        <ion-select-option value="BA">Bahia</ion-select-option>
        <ion-select-option value="CE">Ceará</ion-select-option>
        <ion-select-option value="DF">Distrito Federal</ion-select-option>
        <ion-select-option value="ES">Espírito Santo</ion-select-option>
        <ion-select-option value="GO">Goiás</ion-select-option>
        <ion-select-option value="MA">Maranhão</ion-select-option>
        <ion-select-option value="MT">Mato Grosso</ion-select-option>
        <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
        <ion-select-option value="MG">Minas Gerais</ion-select-option>
        <ion-select-option value="PA">Pará</ion-select-option>
        <ion-select-option value="PB">Paraíba</ion-select-option>
        <ion-select-option value="PR">Paraná</ion-select-option>
        <ion-select-option value="PE">Pernambuco</ion-select-option>
        <ion-select-option value="PI">Piauí</ion-select-option>
        <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
        <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
        <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
        <ion-select-option value="RO">Rondônia</ion-select-option>
        <ion-select-option value="RR">Roraima</ion-select-option>
        <ion-select-option value="SC">Santa Catarina</ion-select-option>
        <ion-select-option value="SP">São Paulo</ion-select-option>
        <ion-select-option value="SE">Sergipe</ion-select-option>
        <ion-select-option value="TO">Tocantins</ion-select-option>
      </ion-select>
    </ion-item>
   
    <ion-item>
      <ion-label>Cidade*</ion-label>
      <!-- <ion-select [(ngModel)]="cidade"  cancelText="Cancelar" >
        <ion-select-option *ngFor="let item of cidades" >{{item}}</ion-select-option>
        
      </ion-select> -->
      <ionic-selectable
    [(ngModel)]="cidade"
    [items]="cidades"
    itemValueField=""
    closeButtonText="Cancelar"
    searchPlaceholder="Pesquisar"
    [searchFailText]="'Nenhum item encontrado'"
    itemTextField=""
    [canSearch]="true"
    (onChange)="portChange($event)">
  </ionic-selectable>
    </ion-item>
  
    <ion-item>
      <ion-label>Estado de Votação*</ion-label>
      <ion-select [(ngModel)]="estado_votacao" cancelText="Cancelar" (ionChange)="change_estado($event, true)" >
        <ion-select-option value="AC">Acre</ion-select-option>
        <ion-select-option value="AL">Alagoas</ion-select-option>
        <ion-select-option value="AP">Amapá</ion-select-option>
        <ion-select-option value="AM">Amazonas</ion-select-option>
        <ion-select-option value="BA">Bahia</ion-select-option>
        <ion-select-option value="CE">Ceará</ion-select-option>
        <ion-select-option value="DF">Distrito Federal</ion-select-option>
        <ion-select-option value="ES">Espírito Santo</ion-select-option>
        <ion-select-option value="GO">Goiás</ion-select-option>
        <ion-select-option value="MA">Maranhão</ion-select-option>
        <ion-select-option value="MT">Mato Grosso</ion-select-option>
        <ion-select-option value="MS">Mato Grosso do Sul</ion-select-option>
        <ion-select-option value="MG">Minas Gerais</ion-select-option>
        <ion-select-option value="PA">Pará</ion-select-option>
        <ion-select-option value="PB">Paraíba</ion-select-option>
        <ion-select-option value="PR">Paraná</ion-select-option>
        <ion-select-option value="PE">Pernambuco</ion-select-option>
        <ion-select-option value="PI">Piauí</ion-select-option>
        <ion-select-option value="RJ">Rio de Janeiro</ion-select-option>
        <ion-select-option value="RN">Rio Grande do Norte</ion-select-option>
        <ion-select-option value="RS">Rio Grande do Sul</ion-select-option>
        <ion-select-option value="RO">Rondônia</ion-select-option>
        <ion-select-option value="RR">Roraima</ion-select-option>
        <ion-select-option value="SC">Santa Catarina</ion-select-option>
        <ion-select-option value="SP">São Paulo</ion-select-option>
        <ion-select-option value="SE">Sergipe</ion-select-option>
        <ion-select-option value="TO">Tocantins</ion-select-option>
      </ion-select>
    </ion-item>
   
    <ion-item>
      <ion-label>Cidade de Votação*</ion-label>
      <!-- <ion-select [(ngModel)]="cidade_votacao"  cancelText="Cancelar" >
        <ion-select-option *ngFor="let item of cidades_votacao" >{{item}}</ion-select-option>
        
      </ion-select> -->
      <ionic-selectable
    [(ngModel)]="cidade_votacao"
    [items]="cidades_votacao"
    itemValueField=""
    closeButtonText="Cancelar"
    searchPlaceholder="Pesquisar"
    [searchFailText]="'Nenhum item encontrado'"
    itemTextField=""
    [canSearch]="true"
    (onChange)="portChange($event)">
  </ionic-selectable>
    </ion-item>

    <ion-button expand="block" (click)="atualizar()">
      Atualizar
    </ion-button>
    <ion-button expand="block" (click)="show_dados()" color="danger">
      Cancelar
    </ion-button>
  </ion-card>

  <ion-card *ngIf="update_senha">
    <ion-item>
      <ion-label position="floating">SENHA</ion-label>
          <ion-input [(ngModel)]="password" type="password" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">CONFIRMAR SENHA</ion-label>
          <ion-input [(ngModel)]="password_confirmation" type="password" ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="atualizar_senha()">
      Atualizar
    </ion-button>
    <ion-button expand="block" (click)="show_senha()" color="danger">
      Cancelar
    </ion-button>
  </ion-card>
  

  <ion-button *ngIf="!update_dados" expand="block" (click)="show_dados()">
    Alterar Dados 
  </ion-button>

  <ion-button *ngIf="!update_senha" expand="block" (click)="show_senha()" color="success">
    Alterar Senha
  </ion-button>

</ion-content>
