<ion-content padding class="getstart ">

  <div class="centralizado">

    <img style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;" src="assets/img/mandato_logo.jpeg">
    <!--<ion-img [src]="item.src"></ion-img>-->

<form [formGroup]="formulario">
<ion-item>
  <ion-label position="floating">EMAIL</ion-label>
      <!--<ion-input  [(ngModel)]="cpf" type="text" ></ion-input>-->
      <ion-input type="text" name="email" [(ngModel)]="email" formControlName="email" ></ion-input>
</ion-item>
</form>
    <br>
<ion-item>
  <ion-label position="floating">SENHA</ion-label>
      <ion-input [(ngModel)]="password" type="password" ></ion-input>
</ion-item>


  </div>


  <div padding>
    <ion-button color="success" expand="block" (click)="login()">
      Entrar
    </ion-button>

    <ion-button expand="block" (click)="registro()">
      Registrar
    </ion-button>
<br> 
    <ion-label color="primary" (click)="show_card_senha()">Esqueci minha senha</ion-label>


    <ion-card *ngIf="show_card">
    <ion-card-header>
      <ion-card-title>Recuperar Senha</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="formulario">
      <ion-item>
        <ion-label position="floating">EMAIL</ion-label>
            <ion-input type="text" name="email_recuperar"  [(ngModel)]="email_recuperar" formControlName="email_recuperar"></ion-input>
      </ion-item>
      </form>
      <ion-button color="success" expand="block" (click)="recuperar_senha()">
        Recuperar
      </ion-button>
      <ion-button color="danger" expand="block" (click)="show_card_senha()">
        Cancelar
      </ion-button>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>