<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Minha Rede
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of membros">
    <ion-card-header>
      <ion-card-subtitle>{{item.categoria}}</ion-card-subtitle>
      <ion-card-title>{{item.nome}}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
