<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Indicar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding>
    <ion-button *ngIf="categoria != 'eleitor' " color="success" expand="block" (click)="indicarBtn(true)">
      Indicar Membros
    </ion-button>

    <ion-button expand="block" (click)="indicarBtn(false)">
      Indicar não Membros
    </ion-button>
  </div>

  <ion-card *ngIf="indicar_op != null">
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title *ngIf="indicar_op == true">Indicar Membro</ion-card-title>
      <ion-card-title *ngIf="indicar_op == false">Indicar Não Membro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="formulario">
        <ion-item >
          <ion-label position="floating">E-mail</ion-label>
              <ion-input type="text" name="email" formControlName="email" [(ngModel)]="email" ></ion-input>
          </ion-item>
        </form>
      <!-- <ion-input [(ngModel)]="cpf_indicado" type="text" placeholder="CPF"></ion-input> -->
      <ion-button *ngIf="indicar_op == true" color="success" expand="block" (click)="enviarIndicacao()">
          Enviar indicação
        </ion-button>
        <ion-button *ngIf="indicar_op == false" color="success" expand="block" (click)="enviarIndicacaoNaoMembro()">
          Enviar indicação
        </ion-button>
    </ion-card-content>
  </ion-card>

  

</ion-content>
