.menu-inner .item {
        background-color: #387ef5;
    }


    .menu-inner > ion-header, 
    .menu-inner > ion-content, 
    .menu-inner > ion-footer {
        background-color: #123456; 
    }

    .toolbar-title {
        color : #fff;
    }
.list-md{
    background-color: #1f3861 !important;
    background: #1f3861 !important;
}

.title-md{
    background: #1f3861 !important;
    color: #ffffff !important;
}
