<ion-app color="azul">
  <ion-split-pane  contentId="main-content">
    <ion-menu  contentId="main-content" type="overlay" background="blue">
      <ion-header>
        <ion-toolbar color="azul" >
          <ion-title color="#ffffff">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content >
        <ion-list >
          <ion-menu-toggle  auto-hide="false" *ngFor="let p of appPages">
            <ion-item  [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon color="#ffffff" slot="start" [name]="p.icon"></ion-icon>

              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
            
          </ion-menu-toggle>
          <ion-menu-toggle  auto-hide="false" >
            <ion-item  (click)="social()">
              <ion-icon color="#ffffff" slot="start" name="globe"></ion-icon>

              <ion-label>
                Social
              </ion-label>
            </ion-item>
            
          </ion-menu-toggle>
        </ion-list>
        <ion-label>
          Versão: {{versao}}
        </ion-label>
      </ion-content>
      

    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
    
  </ion-split-pane>
</ion-app>


