<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      Compartilhar Rede
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-card class="welcome-card">
  
    <ion-card-header>
      <ion-card-subtitle>Selecione o P30 com o qual deseja compartilhar sua rede</ion-card-subtitle>
      <ion-card-title>P30</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>P30</ion-label>
        <ionic-selectable
          [(ngModel)]="p30_selecionado"
          [items]="p30"
          itemValueField="id"
          closeButtonText="Cancelar"
          searchPlaceholder="Pesquisar"
          [searchFailText]="'Nenhum item encontrado'"
          itemTextField="nome"
          [canSearch]="true"
          (onChange)="portChange($event)">
        </ionic-selectable>
      </ion-item>
    </ion-card-content>
    <ion-button expand="block" (click)="compartilhar()">Compartilhar</ion-button>
  </ion-card>

  <ion-card class="welcome-card" *ngIf="compartilhado_id != 0">
  
    <ion-card-header>
      <ion-card-subtitle>Rede compartilhada</ion-card-subtitle>
      <ion-card-title>{{compartilhado_nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
    </ion-card-content>
    <ion-button expand="block" color="danger" (click)="remover()">Remover</ion-button>
  </ion-card>

</ion-content>
