<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title >
      Posts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin: 50%" *ngIf="spinner == true">
  <ion-row>
    <ion-col text-center>
      <ion-spinner></ion-spinner>
    </ion-col>
  </ion-row>
  </div>
      
      <ion-card *ngFor="let item of wpPosts" (click)="openPost(item.link)">
        <ion-card-header>
          <!--<ion-card-subtitle>{{item.title}}</ion-card-subtitle>-->
          <ion-card-title>{{item.title.rendered}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div [innerHTML]="item.excerpt.rendered"></div>
        </ion-card-content>

        <ion-grid>
          <ion-row>
            <ion-col align-self-end>
              <ion-label color="primary">Leia mais</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    

  
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
