<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Receber Indicação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br><br><br>
<ion-button color="success" expand="block" (click)="receberIndicacao()">
      Receber Indicação
    </ion-button>
</ion-content>
