<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dúvidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  
</ion-item>
 <ion-list>
   <ion-item  *ngFor="let duvida of duvidas" >
     <ion-grid>
       <ion-row>
    <ion-text color="dark">
      <h5>{{duvida.usuario}}</h5>
        <p>{{duvida.duvida}}</p>
        <p *ngIf="duvida.resposta != '' " style="color: grey;">R: {{duvida.resposta}}</p>
    </ion-text> 
    
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-align-items-end">
    <ion-button size="small" (click)="responder(duvida.id)">Responder</ion-button>
  </ion-col>
  </ion-row>
    <ion-row>
      <ion-col size="12">
    <ion-card *ngIf="duvida_selecionada == duvida.id">
      <ion-card-header >  
        <ion-card-title>Resposta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Sua resposta</ion-label>
          <ion-textarea [(ngModel)]="resposta"></ion-textarea>
        </ion-item>
        <ion-button color="success" (click)="enviar_resposta(duvida.id)">Enviar</ion-button>
        <ion-button color="danger" (click)="responder(0)">Cancelar</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-col>
  </ion-row>
  </ion-grid>
   </ion-item>
 </ion-list>
</ion-content>
