<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content force-overscroll=true>
    <ion-card class="welcome-card">
      <img src="/assets/img/mandato_logo.jpeg" alt="" />
      <ion-card-header>
        <ion-card-title>Bem Vindo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="6" >
              <p><b>{{nome}}</b></p>
              <p><b>{{categoria}}</b></p>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" (click)="social()">
                <ion-icon slot="start" name="globe" ></ion-icon>
                Social
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    
<ion-card>
  <ion-card-content>
  <div class="ion-text-center">
    <iframe width="auto" height="auto" src="https://www.youtube.com/embed/_Pt7a86IsTc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Sobre o App</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <p align="justify">
    Este aplicativo é o seu poder democrático. Por ele
você poderá criar sua rede de eleitores, livres para
atuar de forma direta no parlamento brasileiro.
Aderindo você fará parte de uma rede de eleitores
independentes, que terá o comando das decisões
dos vereadores e deputados que aderirem ao
projeto. Sem partido ou ideologia.
<br>
Aqui acontece a democracia direta
  </p>
</ion-card-content>
</ion-card>



<ion-card *ngFor="let item of wpPosts" (click)="openPost(item.link)">
  <ion-card-header>
    <!--<ion-card-subtitle>{{item.title}}</ion-card-subtitle>-->
    <ion-card-title>{{item.title.rendered}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div [innerHTML]="item.excerpt.rendered"></div>
  </ion-card-content>

  <ion-grid>
    <ion-row>
      <ion-col align-self-end>
        <ion-label color="primary">Leia mais</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
  
</ion-content>


