<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="novo_projeto()" *ngIf="categoria == 'p30' ">
        <ion-icon name="add"></ion-icon>      
      </ion-button>
      <ion-button (click)="propor_novo()" *ngIf="categoria != 'p30' ">
        <ion-icon name="add"></ion-icon>      
      </ion-button>
    </ion-buttons>
    <ion-title>Projetos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="propor_projeto == true">
    <ion-card-header>
      <ion-card-subtitle>Propor Projeto</ion-card-subtitle>
      <ion-card-title>Projeto</ion-card-title>
    </ion-card-header>

    <ion-card-content>  
      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea [(ngModel)]="descricao_proposta"></ion-textarea>
      </ion-item>
       
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-button  color="success" expand="block" (click)="enviar_proposta()">
              Salvar 
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button  color="warning" expand="block" (click)="propor_novo()">
              Cancelar 
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="card_novo == true">
    <ion-card-header>
      <ion-card-subtitle>Novo Projeto</ion-card-subtitle>
      <ion-card-title>Projeto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input [(ngModel)]="nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descrição</ion-label>
        <ion-textarea [(ngModel)]="descricao"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Video (link embed)</ion-label>
        <ion-input [(ngModel)]="video"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data de Início</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" doneText="OK" cancelText="Cancelar" [(ngModel)]="data_inicio" ></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Data de Término</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" doneText="OK" cancelText="Cancelar" [(ngModel)]="data_termino" ></ion-datetime>
      </ion-item>

      <ion-button  size="small" (click)="nova_opcao()">
        Nova Opção 
      </ion-button>

      <ion-item *ngFor="let item of opcoes">
          <ion-label position="floating">Opção</ion-label>
          <ion-input [(ngModel)]="item.opcao"></ion-input>
      </ion-item>

      


      <ion-button  expand="block" (click)="salvar_projeto()">
        Salvar 
      </ion-button>
      
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="projetos.length == 0">
    <ion-card-header>
    <ion-card-title>Nenhum projeto encontrado.</ion-card-title>
  </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of projetos">
    <ion-card-header (click)="visualizar_projeto(item.id)">
      <ion-card-subtitle>
        <ion-badge color="danger" *ngIf="categoria == 'p30' && item.aprovado == false ">Em análise</ion-badge>
        <ion-badge color="success" *ngIf="categoria == 'p30' && item.aprovado == true ">Aprovado</ion-badge>
      </ion-card-subtitle>
      
      <ion-card-title>{{item.nome}}</ion-card-title>
      
      
    </ion-card-header>
  
    <ion-card-content *ngIf="card_selecionado == item.id">
      {{item.descricao}}
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-chip>
              <ion-icon name="calendar"></ion-icon>
              <ion-label>{{item.data_i}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col size="6">
            <ion-chip>
              <ion-icon name="calendar"></ion-icon>
              <ion-label>{{item.data_f}}</ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="ion-text-center">
        <iframe width="auto" height="auto" [src]="safe_url(item.video)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>

      <ion-card>
        <ion-card-header >  
          <ion-card-subtitle *ngIf="item.ativo == false">
            Votações encerradas
          </ion-card-subtitle>
          <ion-card-title>Escolha a melhor opção</ion-card-title>
        </ion-card-header>
        <ion-card-content>
      <ion-grid>
        <ion-row *ngFor="let op of item.opcoes">
          <ion-col size="8">
            <ion-label>{{op.nome}}</ion-label>
          </ion-col>
          <ion-col size="3">
                <ion-button *ngIf="item.ativo == true  && item.aprovado == true" size="small" (click)="votar(op.id)"><ion-icon name="thumbs-up"></ion-icon> Votar</ion-button>
                <ion-label *ngIf="item.ativo == false ">
                  {{op.porcentagem}}%
                </ion-label>
          </ion-col>
                
        </ion-row>
      </ion-grid>
      </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header >  
          <ion-card-title>Tire suas dúvidas sobre o projeto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Sua dúvida</ion-label>
            <ion-textarea [(ngModel)]="duvida"></ion-textarea>
          </ion-item>
          <ion-grid>
            <ion-row class="ion-align-items-center">
              <ion-col size="6" class="ion-align-self-center">
                <ion-button color="success" (click)="enviar_duvida(item.id)">Enviar</ion-button>
              </ion-col>
              <ion-col size="6" class="ion-align-self-center">
                <ion-button (click)="visualizar_duvidas(item.id)">Dúvidas</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-card-content>

  </ion-card>

</ion-content>
