<ion-header>
  <ion-toolbar>
    <ion-title>Notificação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>{{titulo}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    {{msg}}
  </ion-card-content>
</ion-card>
</ion-content>
